* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* impostazioni generali */
.container {
    width: 100%;
    margin: auto;
}

p {
    font-weight: 500;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.button {
    background: #0161FF;
    padding: 5px 20px;
    color: white;
    font-weight: 400;
}

.button:hover {
    opacity: 70%;
}

h2 {
    font-size: 40px;
}

/* barra header */
.top-bar {
    position: fixed;
    z-index: 300;
    width: 100%;
    background: white;
    border-bottom: 1px solid #cecece;
    height: 80px;
    line-height: 80px; 
}

.top-bar a {
    font-weight: 500;
}

/* barra parte sinistra */
.top-bar .row-left {
    width: calc(100% - 25px);
}

.top-bar .row-left a {
   float: left;
   margin: 0 25px;
   line-height: 78px;
}

.top-bar .row-left ul li a:hover {
    border-bottom: 2px solid #0161FF;
}

.row-left #logo-db img {
    margin: 25px auto;
    width: 130px;
}

/* barra parte destra */
.top-bar .row-right { 
    margin-left: 69%;
    width: calc(100% - 25px);
}

.top-bar .row-right a {
    float: left;
    margin: 0 25px;
    line-height: 78px;
}

.top-bar .row-right ul li a:hover {
    border-bottom: 2px solid #0161FF;
}

.top-bar .row-right ul li .button:hover {
    border: 0;
}

.top-bar .row-right .button {
    display: inline-block;
    margin: 19px 25px;
    line-height: 30px; 
}

/* jumbotron */
.row {
    background: #B4D0E7;
    width: 100%;
    margin: auto;
    height: 100vh;
}

.row img {
    display: block;
    margin-right: 150px;
    width: 60%;
    height: auto;
    object-fit: contain;
}

.row .content-text-top {
    width: 80%;
    margin: auto;
    padding: 90px 0;
    /* debug */ 
    height: auto;
}

.row .content-text-top h1 {
    float: left;
    font-size: 70px;
    width: 90%;
    margin: 50px 0;
}

/* testo centrale */
.row .content-text-center {
    float: left;
    width: 20%;
    height: auto;
    margin-left: 190px;
}

.row .content-text-center p {   
    /* width: 40%; */
    margin-bottom: 40px;
}

.row .content-text-center .button {
    display: inline-block;
    margin-top: 50px;
    padding: 8px 25px;
}

.row .content-text-center #discard {
    font-size: 14px;
    margin-top: 20px;
    width: 230px;
}

.row .content-text-center i {  
    font-size: 40px;
}

/* contenuto prima parte */

/* impostazioni generali */
.content {
    width: 70%;
    margin: auto;
}

.content::after {
    content: '';
    display: table;
    clear: both;
}

.content i {
    margin-top: 30px;
    width: auto;
}

/* checklist */
.content .top-text {
    width: auto;
    height: auto;
}

.content .top-text h2 {
    font-size: 40px;
    margin-top: 200px;
}

.content .top-text form input {
    margin: 60px 5px;
    width: auto;
    cursor: pointer;
}

/* abbonamenti */
.content .dropbox {
    float: left;
    margin-right: 40px;
    width: calc((100% / 3) - 70px);
    border: 1px solid #cecece;
}

.content .dropbox .top-box { 
    border-bottom: 1px solid #cecece;
    width: auto;  
    height: 50px;
}

.content .dropbox .top-box i {
    width: 70px;
    margin: 15px 130px;
    padding: 2px 0;
    text-align: center;
}

/* descrizione */
.content .dropbox .center-box {
    margin: 30px 25px;
    
}

.dropbox .center-box h3 {
    font-size: 30px;
    margin-top: 10px;
}

.dropbox .center-box h4 {
    margin-top: 5px;
}

.dropbox .center-box h5 {
    margin-top: 8px;
    color: grey;
}

/* funzionalità */
.dropbox .center-box ul li {
    font-size: 13px;
    font-weight: 600;
}

/* demo */
.dropbox .center-box .button {
    display: block;
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
}

.dropbox .center-box span, .buy {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}

.dropbox .center-box .buy {
    display: inline-block;
    margin-top: 30px;
    text-decoration: underline;
    color: #0161FF;
}

.dropbox .center-box .line {
    display: block;
    border-bottom: 1px solid #cecece;
    width: 50px;
    height: 35px;
}

/* dettagli e lista */
.dropbox .center-box h4 {
    margin-top: 40px;
}

.dropbox .center-box ul li .fas.fa-check {
    color: #0161FF;
}

.dropbox .center-box ul li:nth-child(6) {
    margin-bottom: 150px;
}

/* contatti */
.dropbox-bottom {
    float: left;
    margin-top: 50px;
    width: calc(100% - 130px);
}

/* barra */
.dropbox-bottom .top-box {
    border: 1px solid #cecece;
    border-width: 1px 1px 0 1px;
    text-align: center;
    width: 100%;
}

.dropbox-bottom .top-box i {
    margin: 17px 0;
}

/* contenuto */
.dropbox-bottom .center-box {
    float: left;
    border: 1px solid #cecece; 
    width: 100%; 
    padding: 0 40px;
}

.dropbox-bottom .center-box h3 {  
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dropbox-bottom .center-box .button {
    display: inline-block;
    margin-left: 600px;
    padding: 8px 80px;
    margin-top: 40px;
}

.dropbox-bottom .center-box ul li { 
    margin-bottom: 25px; 
    font-weight: bold;
}

.dropbox-bottom .center-box ul li:last-child {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 500;  
}

.dropbox-bottom .center-box .dropbox-text {
    margin-bottom: 10px;
    padding: 20px 30px;
    text-align: left;
    line-height: 50px;
}

/* contenuto seconda parte */
.content .box {
    float: left;
    margin: 120px 0;
}

/* immagine */
.content .box img {
    float: left;
    width: 50%;
    /* margin-right: 60px; */
    margin: 20px 0;
    padding-right: 60px;
}

/* testo - pulsante */
.content .box h3 {
    float: left;
    font-size: 30px;
    width: 500px;
    margin: 50px 0;
}

.content .box p {
    float: left;
    width: 490px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 35px;
}

.content .box .button {
    float: left;
    margin-top: 30px;
    padding: 8px 25px;
    background: white;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

/* contenuto terza parte */
.container .grid {
    width: 70%;
    margin: auto;
}

/* titolo */
.grid h2 {
    display: block;
    font-size: 40px;
    margin-bottom: 60px;
    padding-right: 200px;
}

/* incolonnamento */
.grid .col {
    float: left;
    margin-right: 60px;
    width: calc((70% - 230px) / 2);
}

.grid .col h3 {
    margin-bottom: 30px;
    font-size: 25px;
}

.grid .col span {
    text-decoration: underline;
}

.grid .col p {
    margin-bottom: 100px;
}

/* contenuto quarta parte */
.container .carosel {
    width: 100%;
    margin: auto;
    height: 100vh;
}

/* carosel text */
.container .carosel .carosel-text{
    width: 70%;
    margin: auto;
}

.carosel .carosel-text h2 {
    display: inline-block;
    /* float: left; */
    margin-top: 130px;
    width: 600px;
    height: auto;
}

.carosel .carosel-text a {
    margin: 40px 0;
    display: block;
    text-decoration: underline;
    color: #0161FF;
    font-weight: 600;
}

/* impostazioni generali carosel */
.carosel-box .mini-box {
    float: left;
    width: 15vw;  
    height: 15vw;
    text-align: center;
    line-height: 15vw;
}

.carosel-box .mini-box img { 
    width: 45%;
    vertical-align: middle;
    object-fit: contain;
    filter: invert(100%);
}

/* grid box */
.container .carosel-box {
    width: 100%;
    margin: auto;
    height: 480px;
}

/* box side */
.carosel-box .box-side {
    float: left;
    width: 30vw;
    height: 30vw;
}

/* box center */
.carosel-box .box-center {
    background: #f5f5f5;
    float: left;
    padding: 50px;
    width: calc(100% - 60vw);
    height: 30vw;
    color: black;
    overflow-y: auto;
}

.box-center .big-box img {
    width: 10vw;
    object-fit: contain;
    filter: invert(0);
}

.box-center .big-box .line {
    margin-top: 30px;
    border: 1px solid #cecece;
    width: 50px;
}

.box-center .big-box p {
    margin: 60px 0;
}

.box-center .big-box span {
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 500;
}

/* box bottom */
.carosel-box .box-bottom {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
}

.box-bottom .footer-box {
    padding: 120px 250px;
}

.box-bottom .footer-box h2 {  
    display: inline-block;
    color: #61082B;
    width: 500px;
}

.box-bottom .footer-box .button {
    background: white;
    color: black;
    float: right;
    width: 320px;
    padding: 8px 0;
    margin-right: 280px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

/* sezione FAQ */
.container .last-bottom {
    width: 70%;
    margin: auto;
    height: auto;
}

.last-bottom h2 {
    margin: 50px 0;
    float: left;
    font-size: 30px;
    width: 100%;
}

/* contenuto */
.last-bottom .taskline {
    float: left;
    width: 83%;
    padding: 40px 0;
    border-top: 1px solid #cecece;
    height: auto;
}

.last-bottom .taskline:last-child {
    border-bottom: 1px solid #cecece;
    margin-bottom: 100px;
}

.taskline p {
    float: left;
    font-weight: bold;
}

.taskline i {
    margin-right: 30px;
    float: right;
    font-size: 20px;
}

/* footer */
.container .content-bottom {
    float: left;
    width: 100%;
    padding: 40px 200px;
    background: black;
}

.container .content-bottom::after {
    content: '';
    display: table;
    clear: both;
}

.content-bottom .list-col {
    float: left;
    width: calc((100% - 10px) / 6);
    height: 30vh;
    color: white;
    line-height: 30px;
    margin-right: 30px;
    margin-top: 100px;
    min-height: 80%;
}

.list-col .col-bottom h3 {
    margin-bottom: 20px;
    font-size: 23px;
}

.list-col .col-bottom ul li a {
    color: white; 
    font-size: 14px;
    font-weight: 400;
}

.list-col .col-bottom ul li a:hover {
    text-decoration: underline;
}

/* icona footer */
footer .content-bottom #language {
    /* display: inline-block; */
    float: left;
    padding-top: 50px;
    padding-right: 40px;
    color: grey;
    border-top: 1px solid #cecece;
    margin-top: 40px;
    font-size: 14px;
}