* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* impostazioni generali */
.container {
    width: 100%;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.button {
    background: #0161FF;
    padding: 5px 20px;
    color: white;
}

/* barra header */
.top-bar {
    position: fixed;
    z-index: 300;
    width: 100%;
    /* debug */
    background: grey;
    height: 80px;
    line-height: 80px; 
}

/* barra parte sinistra */
.top-bar .row-left {
    line-height: 80px;     
}

.top-bar .row-left a {
   float: left;
   margin: 0 25px;
}

.row-left #logo-db img {
    width: 130px;
}

/* barra parte destra */
.top-bar .row-right { 
    line-height: 80px;
    margin-left: 65%;
}

.top-bar .row-right a {
    float: left;
    margin: 0 25px;
}

.top-bar .row-right .button {
    margin: 19px 25px;
    line-height: 30px; 
}

/* jumbotron */
.row {
    float: left;
    background: #B4D0E7;
    width: 100%;
    margin: auto;
    /* debug */
    height: 100%;
}

.row .content-text {
    width: 80%;
    margin: auto;
    padding: 90px 0;
    /* debug */ 
    /* height: 100%; */
}

.row .content-text h1 {
    font-size: 70px;
    width: 1200px;
    margin: 50px 0;
}

.row p {
    /* float: left; */
    width: 20%;
    margin-bottom: 40px; 
}

.row .content-text .button {
    margin-top: 50px;
}

.row .content-text #discard {
    font-size: 15px;
    margin-top: 20px;
    width: 230px;
}

.row .content-text i {
    font-size: 40px;
}

.row .content-text img {
    float: right;
    bottom: 0;
    right: 0;
    width: 80%;
    height: auto;
}

/* contenuto prima parte */

/* impostazioni generali */
.content {
    width: 65%;
    margin: auto;
    /* debug */
    height: 100%;
}

.content::after {
    content: '';
    display: table;
    clear: both;
}

.content i {
    /* display: block; */
    margin-top: 30px;
    width: 30%;
}

/* checklist */
.content .top-text {
    float: left;
    background: red;
    width: auto;
    /* debug */
    height: auto;
}

.content .top-text h2 {
    font-size: 40px;
    margin-top: 200px;
}

.content .top-text input {
    margin: 60px 0;
}

/* abbonamenti */
.content .dropbox {
    float: left;
    margin-right: 70px;
    width: 340px; 
    border: 1px solid #cecece;
    /* debug */
    /* height: 100vh; */
}

.content .dropbox .top-box { 
    border-bottom: 1px solid #cecece;
    width: auto;  
    /* debug */
    height: 50px;
}

.content .dropbox .top-box i {
    margin: 15px 119px;
    padding: 2px 0;
    text-align: center;
}

/* descrizione */
.content .dropbox .center-box {
    margin: 30px 25px;
}

.center-box h3 {
    font-size: 30px;
    margin-top: 20px;
}

.center-box h5 {
    margin-top: 8px;
    color: grey;
}

/* funzionalità */
.dropbox .center-box i {
    width: auto;
}

/* demo */
.center-box .button {
    display: block;
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
}

.center-box span, .buy {
    display: inline-block;
    font-size: 13px;
}

.center-box .buy {
    display: inline-block;
    margin-top: 30px;
    text-decoration: underline;
    color: deepskyblue;
}

.center-box .line {
    display: block;
    /* border-top: 50px; */
    border-bottom: 1px solid #cecece;
    width: 50px;
    height: 35px;
}

/* dettagli */
.center-box h4 {
    margin-top: 40px;
}

.dropbox i:last-child {
    margin-bottom: 150px;
}