* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* impostazioni generali */
.container {
    width: 100%;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.button {
    background: #0161FF;
    padding: 5px 20px;
    color: white;
}

h2 {
    font-size: 40px;
}

/* barra header */
.top-bar {
    position: fixed;
    z-index: 300;
    width: 100%;
    /* debug */
    background: grey;
    height: 80px;
    line-height: 80px; 
}

/* barra parte sinistra */
.top-bar .row-left {
    line-height: 80px;     
}

.top-bar .row-left a {
   float: left;
   margin: 0 25px;
}

.row-left #logo-db img {
    margin: 26px auto;
    width: 130px;
}

/* barra parte destra */
.top-bar .row-right { 
    line-height: 80px;
    margin-left: 69%;
}

.top-bar .row-right a {
    float: left;
    margin: 0 25px;
}

.top-bar .row-right .button {
    margin: 19px 25px;
    line-height: 30px; 
}

/* jumbotron */
.row {
    float: left;
    background: #B4D0E7;
    width: 100%;
    margin: auto;
    /* debug */
    height: 100%;
}

.row .content-text {
    width: 80%;
    margin: auto;
    padding: 90px 0;
    /* debug */ 
    /* height: 100%; */
}

.row .content-text h1 {
    font-size: 70px;
    width: 1200px;
    margin: 50px 0;
}

.row p {
    /* float: left; */
    width: 20%;
    margin-bottom: 40px; 
}

.row .content-text .button {
    margin-top: 50px;
}

.row .content-text #discard {
    font-size: 15px;
    margin-top: 20px;
    width: 230px;
}

.row .content-text i {
    font-size: 40px;
}

.row .content-text img {
    float: right;
    bottom: 0;
    right: 0;
    width: 80%;
    height: auto;
}

/* contenuto prima parte */

/* impostazioni generali */
.content {
    width: 70%;
    margin: auto;
    /* debug */
    height: 100%;
}

.content::after {
    content: '';
    display: table;
    clear: both;
}

.content i {
    /* display: block; */
    margin-top: 30px;
    width: auto;
}

/* checklist */
.content .top-text {
    float: left;
    width: auto;
    /* debug */
    height: auto;
}

.content .top-text h2 {
    font-size: 40px;
    margin-top: 200px;
}

.content .top-text input {
    margin: 60px 0;
}

/* abbonamenti */
.content .dropbox {
    float: left;
    margin-right: 70px;
    /* width: 340px;  */
    width: calc((100% - 230px) / 3);
    border: 1px solid #cecece;
    /* debug */
    /* height: 100vh; */
}

.content .dropbox .top-box { 
    border-bottom: 1px solid #cecece;
    width: auto;  
    /* debug */
    height: 50px;
}

.content .dropbox .top-box i {
    width: 70px;
    margin: 15px 148px;
    padding: 2px 0;
    text-align: center;
}

/* descrizione */
.content .dropbox .center-box {
    margin: 30px 25px;
}

.center-box h3 {
    font-size: 30px;
    margin-top: 20px;
}

.center-box h5 {
    margin-top: 8px;
    color: grey;
}

/* funzionalità */
.dropbox .center-box i {
    width: auto;
}

/* demo */
.center-box .button {
    display: block;
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
}

.center-box span, .buy {
    display: inline-block;
    font-size: 13px;
}

.center-box .buy {
    display: inline-block;
    margin-top: 30px;
    text-decoration: underline;
    color: deepskyblue;
}

.center-box .line {
    display: block;
    /* border-top: 50px; */
    border-bottom: 1px solid #cecece;
    width: 50px;
    height: 35px;
}

/* dettagli */
.center-box h4 {
    margin-top: 40px;
}

.dropbox i:last-child {
    margin-bottom: 150px;
}

/* contatti */
.bottom-dropbox {
    float: left;
    margin-top: 50px;
    width: calc(100% - 76px);
}

.bottom-dropbox::after {
    content: '';
    display: table;
    clear: both;
}

/* barra */
.bottom-dropbox .top-box {
    border: 1px solid #cecece;
    border-width: 1px 1px 0 1px;
    text-align: center;
    width: 100%;
    /* debug */
    height: 50px;
}

.bottom-dropbox .top-box i {
    margin: 17px 0;
}

/* contenuto */
.bottom-dropbox .center-box {
    float: left;
    border: 1px solid #cecece; 
    width: 100%; 
    height: auto;
}

.bottom-dropbox .center-box .top-line {  
    width: 100%;
}

.center-box .top-line h3 {
    float: left;
    margin: 35px 30px;
}

.center-box .top-line .button {
    float: right;
    margin: 38px 30px;
    padding: 8px 80px;
}

.center-box .dropbox-text {
    float: left;
    margin: 0 30px;
    text-align: left;
    line-height: 50px;
}

/* contenuto seconda parte */
.content .box {
    margin-top: 150px;
}

/* immagine */
.content .box img {
    float: left;
    width: 50%;
    margin-right: 60px;
}

/* testo - pulsante */
.content .box h3 {
    float: left;
    font-size: 30px;
    width: 500px;
    margin: 50px 0;
}

.content .box p {
    float: left;
    width: 490px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 35px;
}

.content .box .button {
    float: left;
    margin-top: 30px;
    padding: 8px 25px;
    background: white;
    border: 1px solid black;
    color: black;
}

/* contenuto terza parte */
.container .grid {
    width: 70%;
    margin: auto;
}

/* titolo */
.grid h2 {
    font-size: 40px;
    margin: 90px 0;
}

/* incolonnamento */
.grid .col {
    float: left;
    margin-right: 60px;
    width: calc((100% - 230px) / 3);
}

.grid .col h3 {
    margin-bottom: 30px;
    font-size: 25px;
}

.grid .col span {
    text-decoration: underline;
}

.grid .col p {
    margin-bottom: 100px;
}

/* contenuto quarta parte */
.container .carosel {
    width: 100%;
    margin: auto;
    /* debug */
    height: 100vh;
}

/* carosel text */
.container .carosel .carosel-text{
    width: 70%;
    margin: auto;
}

.carosel .carosel-text h2 {
    display: inline-block;
    /* float: left; */
    margin-top: 130px;
    width: 600px;
    height: auto;
}

.carosel .carosel-text a {
    margin: 40px 0;
    display: block;
    text-decoration: underline;
    color: #0161FF;
    font-weight: 600;
}

/* impostazioni generali carosel */
.carosel-box .mini-box {
    float: left;
    width: 50%;
    /* debug */
    height: 240px;
}

.carosel-box .mini-box img { 
    margin: 66px 65px;
    width: 45%;
    height: 45%;
    object-fit: contain;
    filter: invert(100%);
}

/* grid box */
.container .carosel-box {
    width: auto;
    margin: auto;
    /* debug */
    height: 480px;
}

/* box left */
.carosel-box .box-left {
    float: left;
    width: 25%;
    /* debug */
    height: auto;
}

/* box center */
.carosel-box .box-center {
    float: left;
    width: calc(50% / 1);
    color: black;
    /* width: auto; */
}

.carosel-box .box-center .mini-box {
    padding: 50px 50px;
    width: auto;
    /* debug */
    height: 480px;
}

.box-center .mini-box img {
    margin: 0;
    width: 12%;
    height: auto;
    object-fit: contain;
    filter: invert(0);
}

.box-center .mini-box .line {
    display: block;
    margin-top: 30px;
    border: 1px solid #cecece;
    width: 50px;
}

.box-center .mini-box p {
    margin-top: 60px;
    width: 90%;
}

/* box right */
.carosel-box .box-right {
    float: left;
    width: 25%;
    /* debug */
    height: auto;
}

/* box bottom */
.carosel-box .box-bottom {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    /* debug */
    height: auto;
}

.box-bottom .footer-box {
    padding: 120px 250px;
}

.box-bottom .footer-box h2 {  
    display: inline-block;
    color: #61082B;
    width: 500px;
}

.box-bottom .footer-box .button {
    float: right;
    width: 320px;
    padding: 8px 0;
    margin-right: 280px;
    text-align: center;
    /* background: white; */
    /* color: black; */
}

/* sezione FAQ */
.container .last-bottom {
    width: 70%;
    margin: auto;
    /* debug */
    height: 100vh;
}

.last-bottom h2 {
    margin: 50px 0;
    float: left;
    font-size: 30px;
    width: 100%;
    /* debug */
    height: 40px;
}

/* contenuto */
.last-bottom .taskline {
    float: left;
    width: 83%;
    padding: 40px 0;
    border-top: 1px solid #cecece;
    /* debug */
    height: auto;
}

.last-bottom .taskline:last-child {
    border-bottom: 1px solid #cecece;
    margin-bottom: 100px;
}

.taskline p {
    float: left;
    font-weight: bold;
}

.taskline i {
    margin-right: 30px;
    float: right;
    font-size: 20px;
}

/* footer */
.container .content-bottom {
    float: left;
    width: 100%;
    /* margin: auto; */
    padding: 100px 150px;
    background: black;
    /* debug */
    height: 530px;
}

.content-bottom .list {
    float: left;
    width: calc((100% - 10px) / 5);
    color: white;
    line-height: 30px;
    /* debug */
    height: 200px;
}

.list .col-bottom h3 {
    margin-bottom: 20px;
    font-size: 23px;
}

.list .col-bottom h4 {
    font-size: 14px;
    font-weight: 500;
}

/* icona footer */
.content-bottom #logo-footer {
    float: left;
    margin-top: 120px;
    padding: 40px 0;
    width: 100px;
    color: grey;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #cecece;
}